.hidden {
    display: none;
}

h2 {
    
}
.textareas {
    display: flex;
    flex-direction: row;
}
textarea {
    height:80vh;
    width: 45vw;
    margin: 10px;
    font-size: 20px;
}

p {
    height:80vh;
    width: 40vw;
    font-size: 30px;
}

#dropdown-content {
    display: none;
}

.dropdown:hover #dropdown-content {
    display: block;
}